.container {
    margin-top: 20px;
}

#percent-fill, #ocean-size {
    margin: 0 20px;
}

.calculate {
    margin-top: 20px;
}

.loader {
    margin-left: 10px;
    display: none;
}
.loader.active {
    display: inline;
}

.islands {
    margin-top: 40px;
}
.result {
    margin-top: 10px;
}