.container {
    margin-top: 20px;
}

#percent-fill {
    margin: 0 20px;
}

.calculate {
    margin-top: 20px;
}

.loader {
    margin-left: 10px;
    display: none;
}
.loader.active {
    display: inline;
}

.result {
    margin-top: 10px;
}